# Dependencies
node_modules
npm-debug.log

# Build
dist

# IDE
.vscode
.idea

# Git
.git
.gitignore

# Docs
README.md
*.md

# Tests
__tests__
*.test.js
*.test.ts
*.spec.js
*.spec.ts

# CI/CD
.github
.gitlab-ci.yml

# Temp files
*.log
*.tmp
.DS_Store
